h1{color:#ff0000; font-size: 33}
h2{
    color: brown;
}
body{background:#ffC966;}
a{text-decoration:none;}
body{color:#ff0000;}

.author
a {
   color: #fff;
    margin: 100px;
}

p{color: chocolate; text-decoration: none;}